.slider {
    position: relative;
    width: 200px;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
    position: absolute;
}

.slider__track {
    width: 100%;
    z-index: 1;
}

.slider__range {
    z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    @apply appearance-none bg-primary-theme
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
}

.thumb--zindex-3 {
    z-index: 3;
}

.thumb--zindex-4 {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    border: none;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    border: none;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.thumb--zindex-5 {
    z-index: 5;
}

.slider__left-value,
.slider__right-value {
    font-size: 12px;
    margin-top: 20px;
    position: absolute;
}

.slider__left-value {
    left: 6px;
}

.slider__right-value {
    right: -4px;
}